<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/app.css">
        <link rel="shortcut icon" href="/images/logo.jpeg">
    </head>
    <body id="{{ (theme_id is defined) ? theme_id : 'base' }}">
        {% block theme %}{% endblock %}
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>
