{% extends 'base.html.twig' %}

{% block title %} Starter {% endblock %}

{% set theme_id = 'starter-theme' %}

{% block theme %}

    <header>
        <h1> Adida starter </h1>
    </header>

    <section>
        <img src="/images/symfony-logo.svg" alt="symfony-logo"/>
    </section>

    <footer>
        <p class="footer-content"> La vie de developeur est une symfony </p>
    </footer>

{% endblock %}