
{# Default header module #}

<header id="header-module">

    {# Fash message #}
    <div class="flashes">

    </div>

    {# Header content #}
    <div class="content container">

    </div>

</header>
