{% extends '/themes/error.html.twig' %}

{% block title %} Not found {% endblock %}

{% block content %}

    <h1 style="font-size:50px; font-weight: bold; padding:10px;"> Not found </h1>

{% endblock %}

